# Package files
*.class
# For the ugly dependency geronimo-servlet_3.1_spec-1.0
# *.jar

# Eclipse
.project
.classpath
.settings/

# IDEA
.idea
*.iml

# Gradle
build/
.gradle/
gradle.properties

# Vim
.*.swp

# Mac OS
.DS_Store

